<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <table border="1px">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Dob</th>
        </tr>
        <tr *ngFor="let emp of employees">
            <td>{{emp.code |titlecase}}</td>
            <td>{{emp.name |uppercase}}</td>
            <td>{{emp.salary |currency}}</td>
            <td>{{emp.dob | date}}</td>
        </tr>
    </table>

    <router-outlet></router-outlet>